apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-kgpzxzvt
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-kgpzxzvt:5316f7ccc10a14c9c8b8f62fad5a6c4b7e2caa76@sha256:76c030a3a2df4276627800410b62437a479b5ce54307f5f046685d97bac29fbd
        name: container-image  
